<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>

    <div id="app">
      {{mensagem}}
    </div>

    <div id="app-2">
      <span v-bind:title="message">
        Passe o mouse sobre mim por alguns segundos
        para ver meu título vinculado dinamicamente!
      </span>
    </div>

    <div id="app-3">
      <span v-if="seen">Agora você está me vendo</span>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{todo.text}}
        </li>
      </ol>
    </div>

    <div id="app-5">
      <p>{{message}}</p>
      <button v-on:click="reverseMessage">Reverse message</button>
    </div>

    <div id="app-6">
      <p>{{message}}</p>
      <input v-model="message">
    </div>




    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>